In [29]:
import pandas as pd
from enum import IntEnum
from datetime import datetime

In [30]:
class RequestType(IntEnum):
    REQ_PUT = 1,
    REQ_GET = 2,
    REQ_DELETE = 3,
    REQ_UPDATE=4
    
DATABASE_LOGS_columns = ["ip", "long", "lat", "request_type", "request_params"]
DATABASE_LOGS_dtypes = [str, str, str, RequestType, str]

d = pd.DataFrame({"timestamp":pd.Series(dtype=int),
                  "ip":pd.Series(dtype='str'),
                  "long":pd.Series(dtype='str'),
                  "lat":pd.Series(dtype='str'),
                  "request_type":pd.Series(dtype=int),
                  "request_params":str})

In [31]:
#d = d.append({"ip": "192.168.3.11", "long":"A", "lat":"A", "request_type":RequestType.REQ_PUT, "request_params":"dsadsadsadsadsad"}, ignore_index=True)

d.loc[len(d)]={"timestamp": datetime.now(), "ip": "192.168.3.11", "long":"A", "lat":"A", "request_type":RequestType.REQ_PUT, "request_params":"dsadsadsadsadsad"}


d.head()

,timestamp,ip,long,lat,request_type,request_params
0,2024-01-07 14:00:59.899582,192.168.3.11,A,A,1,dsadsadsadsadsad